-@ val title: String
-@ val body: String
-@ val headExtra: String

!!!
html<
  head
    title= title
    link(rel="stylesheet" type="text/css" href={uri("/css/bootstrap.css")})
    link(rel="stylesheet" type="text/css" href={uri("/css/scalatra.css")})
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript" src={uri("/js/bootstrap-dropdown.js")})
    != headExtra
  body<
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          = include("/_navigation.jade")
    div.wrapper
      div.container
        div#overview
          = include("/_logo.jade")
        div#content<
          != body
        
    = include("/_google_analytics.page")
