*~
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
src_managed/
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.DS_Store
