<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta content="related_content_manifest" value="b8918e02-e950-469f-a07c-5056d4afaee3"/>

<!-- Le styles -->
<link href="{{ site.baseurl }}assets/css/bootstrap.css" rel="stylesheet">
<style>
  body {
    padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>
<link href="{{ site.baseurl }}assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ site.baseurl }}assets/css/syntax.css" rel="stylesheet">
<link href="{{ site.baseurl }}assets/css/scalatra.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="{{ site.baseurl }}assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}assets/ico/apple-touch-icon-57-precomposed.png">
<script type='text/javascript'>//<![CDATA[
  (function() {
    var script = document.createElement('script');
    script.type  = 'text/javascript';
    script.async = 'async';
    script.src   = 'https://choruswp.nik.io/v1/related_content.js?id=400019&api_key=03ed68675bf0500d0ffaa6bc406c237c0387d0b363c89e9';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(script, s);
  })();//]]>
</script>