  </div> <!-- /container -->
    <footer class="vcard" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="span4">
          	<h3>Twitter</h3>
        	<p><a href="https://twitter.com/scalatra" class="twitter-follow-button" data-show-count="false" data-lang="en">follow @scalatra</a></p>
      		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      		</script>
          </div>
          <div class="span4">
      	  	<h3>Github</h3>
      	  	<p><i class="icon-hand-right icon-white"></i> See our <a href="http://github.com/scalatra/scalatra">GitHub</a> project for <a href="http://github.com/scalatra/scalatra/issues">issue tracking</a>, or contribute code via a <a href="https://github.com/scalatra/scalatra/pulls">pull request</a>.</p>
          </div>
      	  <div class="span4">
      	  	<h3>Google group</h3>
      	  	<p> <i class="icon-hand-right icon-white"></i> Have a question or need help? Help is close at hand, on the <a href="http://groups.google.com/group/scalatra-user">scalatra-user</a> Google Group.</p>
      	  </div>
        </div>
      </div>
    </footer>
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
</body>