  </article>
  <div data-chorus-discovery=''></div>
  </div> <!-- /span8 -->
  </div> <!-- /content -->
  </div> <!-- /container -->
    <footer class="vcard" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3>Twitter</h3>
                <p>
      <img src="../assets/img/glyphicons/glyphicons_392_twitter.png"/>
      You can stay up to date on releases, new developments, and project news by following
      <a href="http://twitter.com/#!/scalatra">@scalatra</a> on Twitter
    </p>
          </div>
          <div class="span3">
            <h3>Github</h3>
            <p><i class="icon-hand-right icon-white"></i> See our <a href="http://github.com/scalatra/scalatra">GitHub</a> project for <a href="http://github.com/scalatra/scalatra/issues">issue tracking</a>, or contribute code via a <a href="https://github.com/scalatra/scalatra/pulls">pull request</a>.</p>
          </div>
          <div class="span3">
            <h3>Google group</h3>
            <p> <i class="icon-hand-right icon-white"></i> Have a question or need help? Help is close at hand, on the <a href="http://groups.google.com/group/scalatra-user">scalatra-user</a> Google Group.</p>
          </div>
          <div class="span3">
            <h3>Gitter</h3>
            <p>
              <i class="icon-hand-right icon-white"></i>
              For live help, join us on Gitter in the 
              <a href="https://gitter.im/scalatra/scalatra">Scalatra</a> channel.
            </p>
          </div>
        </div>
      </div>
    </footer>
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}assets/js/guide.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25333378-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
