<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar"
           data-toggle="collapse"
           data-target=".nav-collapse"
           >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ site.baseurl }}">Scalatra</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Getting started
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}getting-started">Overview</a></li>
                <li class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}getting-started/installation.html">
                    Installation
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}getting-started/first-steps.html">
                    First steps
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}getting-started/project-structure.html">
                    Project structure
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}getting-started/jrebel.html">
                    JRebel integration
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}getting-started/jrebel.html">
                    Project philosophy
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Guides
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}guides">Overview</a></li>
                <li class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}guides/routes-and-actions.html">
                    Routes &amp; actions
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/reverse-routes.html">
                    Reverse routes
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/logging.html">Logging</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/flash.html">Flash</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/authentication.html">
                    Authentication
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/authentication.html">
                    Akka
                  </a>
                </li>


                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Templating</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.baseurl }}guides/templating">Overview</a></li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/templating/scalate.html">
                        Scalate
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/templating/twirl.html">
                        Twirl
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/bootstrap.html">
                        Twitter Bootstrap
                      </a>
                    </li>
                  </ul>
                </li>



                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Persistence</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.baseurl }}guides/persistence">Overview</a></li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/persistence/slick.html">
                        Slick
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/persistence/specs2.html">
                        Squeryl
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/persistence/scalacheck.html">
                        MongoDB
                      </a>
                    </li>
                  </ul>
                </li>


                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Testing</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.baseurl }}guides/testing">Overview</a></li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/testing/scalatest.html">
                        ScalaTest
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/testing/specs2.html">
                        Specs2
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/testing/scalacheck.html">
                        ScalaCheck
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Integrations</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ site.baseurl }}guides/integrations">Overview</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/integrations/helpers.html">
                        Helpers
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/integrations/request-response.html">
                        Request & response
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/integrations/upload.html">
                        CORS
                      </a>
                    </li>
                  </ul>
                </li>


                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Deployment</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.baseurl }}guides/deployment">Overview</a></li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/standalone.html">
                        Standalone
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/containers.html">
                        Servlet container
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/configuration.html">
                        Configuration
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/heroku.html">
                        Heroku
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/jelastic.html">
                        Jelastic
                      </a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/cloudbees.html">
                        CloudBees
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{ site.baseurl }}guides/deployment/google-app-engine.html">
                        Google App Engine
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}guides/atmosphere.html">
                    Atmosphere
                  </a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/commands.html">Commands</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/json.html">JSON Handling</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}guides/swagger.html">Swagger</a>
                </li>
              </ul>
            </li>

            <li><a href="{{ site.baseurl }}news.html">News</a></li>
            <li><a href="{{ site.baseurl }}community">Community</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                API docs
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}api">2.2</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}../2.1/api">2.1</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}../2.0/api">2.0</a>
                </li>
              </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
