<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar"
           data-toggle="collapse"
           data-target=".nav-collapse"
           >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ site.baseurl }}">Scalatra</a>
        <div class="nav-collapse collapse">
          <ul class="nav">

            <!-- START GETTING STARTED -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting started<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.baseurl}}getting-started/installation.html">Installation</a></li>
                <li><a href="{{site.baseurl}}getting-started/first-project.html">First project</a></li>
                <li><a href="{{site.baseurl}}getting-started/project-structure.html">Project structure</a></li>
                <li class="divider"></li>
                <li><a href="{{site.baseurl}}getting-started/ide-support.html">IDE Support</a></li>
                <li><a href="{{site.baseurl}}getting-started/jrebel.html">JRebel integration</a></li>
              </ul>
            </li>
            <!-- END GETTING STARTED -->


            <!-- START GUIDES -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides<b class="caret"></b></a>
              <ul class="dropdown-menu">


                <li><a href="{{site.baseurl}}guides/scalatra-philosophy.html">Scalatra's philosophy</a></li>
                <li class="divider"></li>


                <!-- START HTTP -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/http">HTTP</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/http/routes.html">Routes</a></li>
                    <li><a href="{{site.baseurl}}guides/http/actions.html">Actions</a></li>
                    <li><a href="{{site.baseurl}}guides/http/reverse-routes.html">Reverse routes</a></li>
                    <li><a href="{{site.baseurl}}guides/http/requests-and-responses.html">Request &amp; Response</a></li>
                    <li><a href="{{site.baseurl}}guides/http/gzip.html">Gzip</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site.baseurl}}guides/http/flash.html">Flash</a></li>
                    <li><a href="{{site.baseurl}}guides/http/authentication.html">Authentication</a></li>
                  </ul>
                </li>
                <!-- END HTTP -->


                <!-- START ASYNC -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/async">Async</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/async/akka.html">Akka</a></li>
                    <li><a href="{{site.baseurl}}guides/async/atmosphere.html">Atmosphere</a></li>
                  </ul>
                </li>
                <!-- END ASYNC -->


                <!-- START VIEWS -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/views">Views</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/views/inline-html.html">Inline HTML</a></li>
                    <li><a href="{{site.baseurl}}guides/views/scalate.html">Scalate</a></li>
                    <li><a href="{{site.baseurl}}guides/views/twirl.html">Twirl</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site.baseurl}}guides/views/bootstrap.html">Twitter Bootstrap</a></li>
                    <li><a href="{{site.baseurl}}guides/views/dust.html">Dust</a></li>
                  </ul>
                </li>
                <!-- END VIEWS -->


                <!-- START RESOURCES -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/resources">Resources</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/resources/coffeescript.html">CoffeeScript</a></li>
                    <li><a href="{{site.baseurl}}guides/resources/less-css.html">LESS CSS</a></li>
                    <li><a href="{{site.baseurl}}guides/resources/wro4j.html">wro4j</a></li>
                  </ul>
                </li>
                <!-- END RESOURCES -->


                <!-- START FORMS -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/formats">Formats</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/formats/forms.html">Forms</a></li>
                    <li><a href="{{site.baseurl}}guides/formats/commands.html">Commands</a></li>
                    <li><a href="{{site.baseurl}}guides/formats/json.html">JSON</a></li>
                    <li><a href="{{site.baseurl}}guides/formats/xml.html">XML</a></li>
                  </ul>
                </li>
                <!-- END FORMS -->


                <!-- START PERSISTENCE -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/persistence">Persistence</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/persistence/slick.html">Slick</a></li>
                    <li><a href="{{site.baseurl}}guides/persistence/squeryl.html">Squeryl</a></li>
                    <li><a href="{{site.baseurl}}guides/persistence/mongodb.html">MongoDB</a></li>
                  </ul>
                </li>
                <!-- END PERSISTENCE -->


                <!-- START SERVICES -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/web-services">Web services</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/web-services/http-client.html">HTTP client</a></li>
                    <li><a href="{{site.baseurl}}guides/web-services/cors.html">CORS</a></li>
                    <li><a href="{{site.baseurl}}guides/web-services/openid.html">OpenID</a></li>
                    <li><a href="{{site.baseurl}}guides/web-services/oauth.html">OAuth</a></li>
                  </ul>
                </li>
                <!-- END SERVICES -->


                <li><a href="{{site.baseurl}}/guides/internationalization.html">Internationalization</a></li>
                <li class="divider"></li>


                <!-- START TESTING -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/testing">Testing</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/testing/scalatest.html">ScalaTest</a></li>
                    <li><a href="{{site.baseurl}}guides/testing/specs2.html">Specs2</a></li>
                    <li><a href="{{site.baseurl}}guides/testing/scalacheck.html">ScalaCheck</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site.baseurl}}guides/testing/continuous-integration.html">Continuous integration</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site.baseurl}}guides/testing/selenium.html">Selenium</a></li>
                    <li><a href="{{site.baseurl}}guides/testing/selenium.html">Jasmine</a></li>
                  </ul>
                </li>
                <!-- END TESTING -->


                <!-- START MONITORING -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/monitoring">Monitoring</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/monitoring/metrics.html">Metrics</a></li>
                    <li><a href="{{site.baseurl}}guides/monitoring/logging.html">Logging</a></li>
                  </ul>
                </li>
                <!-- END MONITORING -->


                <!-- START DEPLOYMENT -->
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="{{site.baseurl}}guides/deployment">Deployment</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{site.baseurl}}guides/deployment/standalone.html">Standalone</a></li>
                    <li><a href="{{site.baseurl}}guides/deployment/servlet-container.html">Servlet container</a></li>
                    <li><a href="{{site.baseurl}}guides/deployment/configuration.html">Configuration</a></li>
                    <li class="divider"></li>
                    <li><a href="{{site.baseurl}}guides/deployment/heroku.html">Heroku</a></li>
                    <li><a href="{{site.baseurl}}guides/deployment/jelastic.html">Jelastic</a></li>
                    <li><a href="{{site.baseurl}}guides/deployment/cloudbees.html">CloudBees</a></li>
                    <li><a href="{{site.baseurl}}guides/deployment/google-app-engine.html">Google App Engine</a></li>
                  </ul>
                </li>
                <!-- END DEPLOYMENT -->

                <li class="divider"></li>
                <li><a href="{{site.baseurl}}guides/swagger.html">Swagger</a></li>


              </ul>
            </li>
            <!-- END GUIDE -->



            <li><a href="{{ site.baseurl }}news.html">News</a></li>


            <li><a href="{{ site.baseurl }}community">Community</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                API docs
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}api">2.2</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}../2.1/api">2.1</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}../2.0/api">2.0</a>
                </li>
              </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content row">
      <div class="span2">
        <div id="toc"></div>
      </div>
      <div class="span8">
        <article itemscope="" itemtype="http://nik.io/v1/schema/Article">
          <span itemprop="permalink" content="{{site.basepath}}{{ page.url }}"></span>
