body {
	background-color: #f8f8f8;
	background-image: url(/assets/img/back_pattern.png);
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
}

footer[role="contentinfo"] {
    color: #999;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background-color: #222;
    margin-top: 36px;
    padding: 36px 0;
}
footer[role="contentinfo"] a {
    color: #ddd;
}
footer[role="contentinfo"] a:hover {
    color: #fff;
}

.affix {
    position: fixed;
    top: 40px;
}

.brand {
  background: url(/assets/img/logo-s.png) no-repeat 0px 5px;
  width: 120px;
  text-indent: -999em; }

