
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Scalatra micro-framework</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/isotope.css" media="screen" />
		<link rel="stylesheet" href="/javascripts/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
		<!-- skin -->
		<link rel="stylesheet" href="/stylesheets/default.css">
        <!-- =======================================================
            Theme Name: Amoeba
            Theme URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
            Author: BootstrapMade
            Author URL: https://bootstrapmade.com
        ======================================================= -->
    </head>

    <body>
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">			Scalatra
					</a></h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="/getting-started/">Getting started</a></li>
						<li><a href="/guides/2.5/">Guides</a></li>
            <li><a href="/news.html">News</a></li>
						<li><a href="/community/">Community</a></li>
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<section class="featured">
			<div class="container">
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">

						<div class="align-center">
<!--							<i class="fa fa-flask fa-5x mar-bot20"></i> -->
              <img src="/images/logo.png"/>
							<h2 class="slogan">:^)</h2>
							<p>Scalatra is a simple, accessible and free http micro-framework.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- services -->
		<section id="section-services" class="section pad-bot30 bg-white">
		<div class="container">

			<div class="row mar-bot40">
				<div class="col-lg-4" >
					<div class="align-center">
						<i class="fa fa-flask fa-5x mar-bot20"></i>
						<h4 class="text-bold">Ready</h4>
						<p>Get set up in <a href="/getting-started/installation.html">2 easy steps</a> with our quick installation guide. There's a good chance that you already have most of the software you need.
						</p>
					</div>
				</div>

				<div class="col-lg-4" >
					<div class="align-center">
						<i class="fa fa-terminal fa-5x mar-bot20"></i>
						<h4 class="text-bold">Steady</h4>
						<p>We've documented the main aspects of Scalatra development in a handy set of <a href="/2.4/guides/">reference guides</a>, to help you become productive quickly.
						</p>
					</div>
				</div>

				<div class="col-lg-4" >
					<div class="align-center">
						<i class="fa fa-bolt fa-5x mar-bot20"></i>
						<h4 class="text-bold">Code</h4>
						<p>We have a very active community, and an enthusiastic group of developers <a href="/philosophy.html">working</a> on the next version.
						</p>
					</div>
				</div>

			</div>

		</div>
		</section>



	<section id="footer" class="section footer">
		<div class="container">
			<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
				<div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="https://github.com/scalatra/scalatra" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://gitter.im/scalatra/scalatra" class="icoGitter" title="Gitter"><i class="fa fa-comments"></i></a></li>
                        <li><a href="https://twitter.com/scalatra" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/scalatra-user" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
				</div>
			</div>

			<div class="row align-center copyright">
					<div class="col-sm-12"><p>Copyright &copy; Scalatra Team</p>
                        <div class="credits">
                            <!--
                                All the links in the footer should remain intact.
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Amoeba
                            -->
                            <a href="https://bootstrapmade.com/">Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
			</div>
		</div>

	</section>
	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

	<script src="/javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery.easing.1.3.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/javascripts/jquery.isotope.min.js"></script>
	<script src="/javascripts/jquery.nicescroll.min.js"></script>
	<script src="/javascripts/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/javascripts/skrollr.min.js"></script>
	<script src="/javascripts/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="/javascripts/jquery.localscroll-1.2.7-min.js"></script>
	<script src="/javascripts/stellar.js"></script>
	<script src="/javascripts/jquery.appear.js"></script>
  <script src="/javascripts/main.js"></script>
	</body>
</html>
