body code
  { color: #eee; 
    font-family: Courier, monospace;
    font-size: 95%; }

p code { color: #008080; }

body pre  
  { white-space: pre-wrap; white-space: -moz-pre-wrap !important;
    padding: 1em;
    border: 4px solid #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    margin-bottom: 15px;
    background: #333; }
 
/* TOC */
.maruku_toc ul { font-weight: bold; padding: 0em; }
.maruku_toc ul ul { font-weight: normal; padding: 0em 0 0.5em 1em; }
.maruku_toc ul ul ul { font-weight: normal; padding: 0em 0 0.25em 0.5em; }
.maruku_toc ul ul ul ul { font-weight: normal; padding: 0em 0 0.1em 0.25em; }
