#navigation {
    font-size: 80%;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation li {
    display: inline;
    list-style-type: none;
    padding: 0 1.5em 0 0;
}

.wrapper { min-width: 762px; width: 762px; margin: 0 auto; }

#navigation { width: 100%; float: left;
    font-family: Helvetica,Verdana,Arial,sans-serif; 
    background: black; 
	text-align:center; 
	padding: 8px 0 8px 0;
    color: #b55; 
	font-size: 10pt; 
	font-weight: bold;
  position: absolute;  
    top: 0px;
}
#navigation a { color: white; }
#navigation ul { display: block; margin:0; padding:0; }
#navigation li { list-style-type: none; display: inline; margin:0 5px 0 5px;}


img {
	border: none;
/*
	padding-right:2em
*/
}
