
ul.nav
  li
    a(href={uri("/")}) Home
  li.dropdown#book
    a(class="dropdown-toggle" data-toggle="dropdown" href="#book") Book <b class="caret"></b>
    
    ul.dropdown-menu
      li
        a(href={uri("/2.1/book")}) 2.1
      li
        a(href={uri("/2.0/book")}) 2.0
  li
    a(href={uri("/community.html")}) Community
  li
    a(href="http://github.com/scalatra") Source
  li
    a(href={uri("/built-with.html")}) Built With
  li.dropdown#api
    a(class="dropdown-toggle" data-toggle="dropdown" href="#api") API <b class="caret"></b>
    
    ul.dropdown-menu
      li
        a(href={uri("/2.1/api")}) 2.1
      li
        a(href={uri("/2.0/api")}) 2.0
