ul.nav
  li
    a(href={uri("/")}) Home
  li
    a(href={uri("/stable/book")}) Book
  li
    a(href={uri("/community.html")}) Community
  li
    a(href="http://github.com/scalatra") Source
  li
    a(href={uri("/built-with.html")}) Built With
  li
    a(href={uri("/stable/api")}) API
